body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    background-color: #1A1D4E;
    color: #F1F1F1;
    margin: 0;
    padding: 20px;
}

h2 {
    color: #30A9DE;
}

h3 {
    color: #A2DED0;
}

table,
td,
th {
    border-collapse: collapse;
    border: 1px solid #30A9DE;
}

td,
th {
    padding: 10px;
}

h1,
table,
h3,
ul,
p {
   width: 80%;
}