body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#certificate {
    align-self: flex-start;
    margin-left: 65px;
}

h1 {
    text-align: center;
    background-color: #1A1D4E;
    color: #F1F1F1;
    margin: 0;
    padding: 20px;
    width : 100%
}

h2 {
    color: #30A9DE;
    text-align: center;
}

h3 {
    color: #A2DED0;
}

table,
td,
th {
    border-collapse: collapse;
    border: 1px solid #30A9DE;
}

td,
th {
    padding: 10px;
}

#certificate,
table,
h2,
h3,
ul,
p {
   width: 90%;
}

@media (max-width: 600px) {
    #certificate
    {
      margin-left: 0px;
      width: 100%;
      height: 100px;
      width: 200px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

@media (max-width: 600px) {
    h1,
    h2,
    table,
    h3,
    ul,
    p {
      width: 100%;
    }
  }

  